.calender{
    display: grid;
    grid-template-columns:repeat(7,1fr);
    grid-gap: 20px;
    width: 100vw;
}

.cal{
    background-color: aqua;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 16px;
}